# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment
.env
.venv/
env/
venv/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Mac OS
.DS_Store

# Data files (optional)
*.csv
*.mp4
*.jpg
*.png
/kaggle/input/
/kaggle/working/
